name: omnibox

services:
  web:
    image: ghcr.io/import-ai/omnibox-web:0.1.19
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
    ports:
      - ${OB_WEB_PORT:-8080}:80
    restart: always
    depends_on:
      backend:
        condition: service_healthy

  backend:
    image: ghcr.io/import-ai/omnibox-backend:0.1.19
    restart: always
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
    environment:
      ENV: prod
    env_file:
      - .env
    healthcheck:
      test: ['CMD', 'wget', '-q', '-O-', 'http://127.0.0.1:8000/api/v1/health']
      interval: 30s
      timeout: 3s
      retries: 5
      start_period: 5s
    depends_on:
      wizard:
        condition: service_healthy

  wizard:
    image: ghcr.io/import-ai/omnibox-wizard:0.1.19
    restart: always
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
    environment:
      ENV: prod
      OBW_VECTOR_HOST: ${OBW_MEILI_HOST}
      OBW_VECTOR_MEILI_API_KEY: ${GLOBAL_MEILI_KEY}
    env_file:
      - .env
    healthcheck:
      test: ['CMD', 'wget', '-q', '-O-', 'http://127.0.0.1:8000/api/v1/health']
      interval: 30s
      timeout: 3s
      retries: 5
      start_period: 5s

  wizard-worker:
    image: ghcr.io/import-ai/omnibox-wizard:0.1.19
    restart: always
    environment:
      ENV: prod
      OBW_VECTOR_HOST: ${OBW_MEILI_HOST}
      OBW_VECTOR_MEILI_API_KEY: ${GLOBAL_MEILI_KEY}
    env_file:
      - .env
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
    entrypoint: ['python', 'main.py']
    command: ['--workers', '1']
    healthcheck:
      test: ['CMD', 'wget', '-q', '-O-', 'http://127.0.0.1:8000/health']
      interval: 30s
      timeout: 3s
      retries: 5
      start_period: 5s
    depends_on:
      backend:
        condition: service_healthy
